# After changing this file, check it on:
#   http://lint.travis-ci.org/
#
language: python
python:
  - "3.3"
  - "2.7"
  - "2.6"
# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda config --set always_yes True --set changeps1 False
  - conda update -q conda;
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
install:
  - DEPS="numpy scipy pandas pip statsmodels nose";
  - conda create -n test-environment python=$TRAVIS_PYTHON_VERSION $DEPS;
  - source activate test-environment;
script:
  - nosetests
